<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="Oh.SeungBin.IASA_Meal" android:installLocation="auto" android:versionName="0.1">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<application android:label="School_Meal_Mobile.Android"></application>
</manifest>