<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sboh1214.IASA_Meal" android:installLocation="auto" android:versionName="1807.101" android:versionCode="5">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<application android:label="School_Meal_Mobile.Android"></application>
</manifest>